# Configuration file for scenario astlingen
# name of scearnio
env_name: astlingen
# if env contains actions
act: True
# time step (min)
interval: 1
# control time step (min)
# control_interval: 5
# state definitions
# global state definitions
global_state:
  - !!python/tuple
    - nodes
    # - head
    - depthN
  - !!python/tuple
    - nodes
    # - totalinflow
    - cuminflow
  - !!python/tuple
    - nodes
    - totaloutflow_vol
  - !!python/tuple
    - nodes
    # - lateralinflow
    - cumlateralinflow
  - !!python/tuple
    - links
    - depthL
  - !!python/tuple
    - links
    - volumeL
  - !!python/tuple
    - links
    - flow_vol
  - !!python/tuple
    - links
    - setting

# Action space
action_space:
  V2:
    !!python/tuple
    - 0.1075
    - 0.2366
    - 0.3657
    - 0.4948
    - 0.6239
    - 0.7530
    - 0.8821
    - 1.0
    # - 0.1075
    # - 0.2366
    # - 1.0
  V3:
    !!python/tuple
    # - 0.3159
    # - 0.6508
    # - 1.0
    - 0.3159
    - 0.4275
    - 0.5392
    - 0.6508
    - 0.7624
    - 0.8741
    - 1.0
  V4:
    !!python/tuple
    # - 0.1894
    # - 0.3523
    # - 1.0
    - 0.1894
    - 0.3523
    - 0.5152
    - 0.6781
    - 0.8410
    - 1.0
  V6:
    !!python/tuple
    # - 0.1687
    # - 0.4303
    # - 1.0
    - 0.1687
    - 0.2995
    - 0.4303
    - 0.5611
    - 0.6919
    - 0.8227
    - 1.0

# Performance Targets
performance_targets:
  # CSOs to river
  - !!python/tuple
    - "T1"
    - cumflooding
    - 1
  - !!python/tuple
    - "T2"
    - cumflooding
    - 1
  - !!python/tuple
    - "T3"
    - cumflooding
    - 1
  - !!python/tuple
    - "T4"
    - cumflooding
    - 1
  - !!python/tuple
    - "T5"
    - cumflooding
    - 1
  - !!python/tuple
    - "T6"  # creek
    - cumflooding
    - 2
  - !!python/tuple
    - "CSO7"  #creek
    - cumflooding
    - 2
  - !!python/tuple
    - "CSO8"
    - cumflooding
    - 1
  - !!python/tuple
    - "CSO9"  # creek
    - cumflooding
    - 2
  - !!python/tuple
    - "CSO10"
    - cumflooding
    - 1
  # flow to WWTP
  - !!python/tuple # Conduit that connects upstream to "Out_to_WWTP" node
    - "Out_to_WWTP"
    - cuminflow
    - -0.1
  # control roughness
  - !!python/tuple # flow out of Tank1
    - "J19"
    - cuminflow
    - 0.01
  - !!python/tuple # flow out of Tank2
    - "J17"
    - cuminflow
    - 0.01
  - !!python/tuple # flow out of Tank3
    - "J14"
    - cuminflow
    - 0.01
  - !!python/tuple # flow out of Tank4
    - "J6"
    - cuminflow
    - 0.01
  - !!python/tuple # flow out of Tank5
    - "J2"
    - cuminflow
    - 0.01
  - !!python/tuple # flow out of Tank6
    - "J9"
    - cuminflow
    - 0.01

# Flooding volume in each node
flood:
  - !!python/tuple
    - nodes
    - cumflooding

# Rainfall scenario parameters
rainfall:
  func: generate_split_file
  filedir: ./envs/network/astlingen/astlingen
  rainfall_timeseries: ./envs/config/ast_rain.csv # rainfall timeseries data
  rainfall_events: ./envs/config/ast_train_events.csv # rainfall timeseries data
  pre_time: 60 # preliminary time (min) to exclude
  MIET: 120 # minimum interevent time (min)
  duration_range:  # rainfall duration sampling range (min)
    - 60
    - 100000
  precipitation_range: # rainfall precipitation sampling range (mm)
    - 5
    - 15
  date_range: # rainfall precipitation sampling range (mm)
    - 01/01/2000
    - 12/31/2009
  replace_rain: False
  tide: False

# if time-variant outlet boundary
tide: False

# Model predictive control parameters
prediction:
  control_horizon: 60  # Control horizon (min)
  eval_horizon: 60 # Evaluation horizon (min)
  no_runoff: True # if excludes runoff module and use external data
  hsf_dir: hsf # file path to save the hotstart file
  eval_dir: eval # file path to save the evaluation file
  suffix: mpc_eval_ # suffix of the evaluation file
  
